<!DOCTYPE html>
<html land="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <meta charset="utf-8" >

  <style>
    .jumbotron{
      /*background-color: lightblue;
      color: red;*/
      background-color: black;
      color: lightgray;
      padding: 100px 25px;
    }
    .container-fluid {
      padding: 30px 50px;
    }
    .col-sm-12{
      padding-left: 60px;
      padding-right: 60px;
    }
    @media screen and (max-width: 768px) {
        .col-sm-12 {
            text-align: center;
            margin: 25px 0;
        }
    }
  </style>

  <script>
    $(document).ready(function(){
      $("#ajax_request").on( "click", function(){
          var queryText = $("#AjaxMessage").val();

          $.get( "/ajaxRequest?text=" + queryText, function(data, status){
            $("#ajaxResult").text( data.ajaxResult.toString() );
          } );
      } );

      $("#url_request").on( "click", function(){
          //window.location.replace("/index");
          window.location.href = "/";
      } );

    });
  </script>

  <title>Welcome summer-mvc</title>
</head>
<body>
  <div class="jumbotron text-center">
    <h1>Welcome summer-mvc</h1>
    <p>Very Light Web Application <b>Framework & SDK</b> for Nodejs</p>
  </div>
  <div class="container-fluid" style="font-size:15px">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <p><h2>Info.</h2></p>
        <hr>
        <div class="table-responsive">
          <table class="table text-center table-bordered">
            <tbody>
              <tr>
                <td>Method</td>
                <td><%= method %></td>
              </tr>
              <tr>
                <td>Path</td>
                <td><%= path %></td>
              </tr>
              <tr>
                <td>Controller Name</td>
                <td><%= controllerName %></td>
              </tr>
              <tr>
                <td>Control Function</td>
                <td><%= controlFunction %></td>
              </tr>
              <tr>
                <td>Post Message</td>
                <td><%= postMessage %></td>
              </tr>
              <tr>
                <td>Query String</td>
                <td><%= queryString %></td>
              </tr>
              <tr>
                <td>Params</td>
                <td><%= params %></td>
              </tr>
              <tr>
                <td>DB res</td>
                <td><%= dbRes %></td>
              </tr>
              <tr>
                <td>Ajax Result</td>
                <td id="ajaxResult"><%= ajaxResult %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-5">
        <p><h2>Test.</h2></p>
        <hr>
        <p><h4>Post Request</h4></p>
        <div>
          <form class="form-inline" action="/" method="post">
            <div class="input-group">
              <input type="input" class="form-control" size="50" placeholder="Post Message" name="postMessage" required>
              <div class="input-group-btn">
                <button type="submit" class="btn btn-default" onclick="submit">Request Post</button>
              </div>
            </div>
          </form>
        </div>
        <p><h4>Ajax Request</h4></p>
        <div>
          <form class="form-inline" action="/welcomePost" method="post">
            <div class="input-group">
              <input type="input" class="form-control" size="50" placeholder="Ajax Message" id="AjaxMessage" required>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default" id="ajax_request">Request Ajax</button>
              </div>
            </div>
          </form>
        </div>
        <p><h4>Cookie</h4></p>
        <div>
          <form class="form-inline" action="/setCookie" method="get">
            <div class="input-group">
              <input type="input" class="form-control" size="22" placeholder="Key" name="cookieKey" required>
            </div>
            <div class="input-group">
              <input type="input" class="form-control" size="22" placeholder="Value" name="cookieValue" required>
            </div>
            <div class="input-group">
              <button type="submit" class="btn btn-default" id="setCookie">Set Cookie</button>
            </div>
          </form>
        </div>
        <p><h4>Session</h4></p>
        <div>
          <form class="form-inline" action="/setSession" method="get">
            <div class="input-group">
              <input type="input" class="form-control" size="22" placeholder="Key" name="sessionKey" required>
            </div>
            <div class="input-group">
              <input type="input" class="form-control" size="22" placeholder="Value" name="sessionValue" required>
            </div>
            <div class="input-group">
              <button type="submit" class="btn btn-default" id="setSession">Set Session</button>
            </div>
          </form>
        </div>
        <p><h4>DB</h4></p>
        <div>
          <form class="form-inline" action="/getdb" method="get">
            <div class="input-group">
              <button type="submit" class="btn btn-default" id="setSession">Get DB Version</button>
            </div>
          </form>
        </div>
      <div class="col-md-1"></div>
    </div>
  </div>

  <footer class="container-fluid site-footer-container">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 text-center">
      <hr>
      <ul style="list-style: none; margin: 0; padding: 0;">
        <li style="display: inline; padding-left: 30px;"><span class="glyphicon glyphicon-copyright-mark" ></span>&nbsp;2017 Inodient, All rights reserved</li>
        <li style="display: inline; padding-left: 30px;"><a href="https://github.com/inodient/summer-mvc" data-ga-click="Footer, go to contact, text:contact">Get GitHub</a></li>
        <!-- <li style="display: inline; padding-left: 30px;"><a href="https://developer.github.com" data-ga-click="Footer, go to api, text:api">Developer</a></li>
        <li style="display: inline; padding-left: 30px;"><a href="https://shop.github.com" data-ga-click="Footer, go to shop, text:shop">Facebook</a></li>
        <li style="display: inline; padding-left: 30px;"><a href="/index" data-ga-click="Footer, go to about, text:about">About</a></li> -->
      </ul>
    </div>
    <div class="col-sm-1"></div>
  </fotter>

</body>
</html>
